<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Define the company name -->
    <Environment name="companyName" value="Bong Bong Art Gallery" type="java.lang.String" override="false"/>

    <!-- Define the company email -->
    <Environment name="companyEmail" value="enquiries@bongbong.com" type="java.lang.String" override="false"/>

    <!-- Define the company copyrights -->
    <Environment name="companyCopyrights" value="Copyright© 2024, Bong Bong Art Gallery" type="java.lang.String" override="false"/>
</Context>
