<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Define the company name -->
    <context-param>
        <param-name>companyName</param-name>
        <param-value>ABC Company</param-value>
    </context-param>

    <!-- Define the company email -->
    <context-param>
        <param-name>companyEmail</param-name>
        <param-value>info@abccompany.com</param-value>
    </context-param>

    <!-- Define the company copyrights -->
    <context-param>
        <param-name>companyCopyrights</param-name>
        <param-value>© 2023 ABC Company. All rights reserved.</param-value>
    </context-param>
</Context>