/* ORDER TRACKING CSS */
.cursor-pointer {
    cursor: pointer;
}

.bold{
    font-weight: 600;
}

.small{
    font-size: 12px !important;
    letter-spacing: 0.5px !important;
}

.Today{
    color: rgb(83, 83, 83);
}

.btn-outline-primary{
    background-color: #fff !important;
    color:#17a2b8 !important;
    border:1.3px solid #17a2b8 !important;
    font-size: 12px;
    border-radius: 0.4em !important;
}

.btn-outline-primary:hover{
    background-color:#17a2b8  !important;
    color:#fff !important;
    border:1.3px solid #17a2b8;
}

.btn-outline-primary:focus,
.btn-outline-primary:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #17a2b8 !important;
}

.card-orderstatus {
    background-color: #fff ;
    box-shadow: 2px 4px 15px 0px #52d6eb;
    z-index: 0;
}

.a {
    justify-content: space-between !important;
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

.card-footer img{
    opacity: 0.3;
}

.card-footer h5{
    font-size: 1.1em;
    color: #8C9EFF;
    cursor: pointer;
}

/* A Hover Effect */
.aSetting {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.aSetting::before,
.aSetting::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.aSetting::before {
    background-color: #52d6eb;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.aSetting::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #52d6eb;
}

.aSetting:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
.aSetting:hover::after {
    transform: translate3d(0, 0, 0);
}

/* Edit Profile */
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #52d6eb !important;
    box-shadow: none !important;
    border: none !important;
}

.profile-button:hover {
    background: #17a2b8 !important;
}

.profile-button:focus {
    background: #17a2b8 !important;
    box-shadow: none !important;
}

.profile-button:active {
    background: #17a2b8 !important;
    box-shadow: none !important;
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px;
}

/* Sidebar */
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.sidebar-heading .sidebar-heading-a{
    text-decoration: none;
    color: black;
}

.sidebar-heading .sidebar-heading-a:hover {
    color: #FFE3C2;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper #sidebar-list-group .list-group-a:hover{
    background-color: #FFE3C2 !important;
    color: white !important;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* Order Progress Bar */
#progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: #17a2b8;
    padding-left: 0px;
    margin-top: 3vh
}

#progressbar li {
    list-style-type: none;
    font-size: 12pt;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: rgb(160, 159, 159);
}

#progressbar #step1:before {
    content: "";
    color: #17a2b8;
    width: 8px;
    height: 8px;
    margin-left: 0px !important;
}

#progressbar #step2:before {
    content: "";
    color: #fff;
    width: 8px;
    height: 8px;
    margin-left: 32%;
}

#progressbar #step3:before {
    content: "";
    color: #fff;
    width: 8px;
    height: 8px;
    margin-right: 32% ;
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #ddd;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh;
}

#progressbar li:after {
    content: '';
    height: 2px;
    background: #ddd;
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 3px;
    z-index: 1;
}

.progress-track{
    padding: 0 8%;
}

#progressbar li:nth-child(2):after {
    margin-right: auto;
}

#progressbar li:nth-child(1):after {
    margin: auto;
}

#progressbar li:nth-child(3):after {
    float: left;
    width: 68%;
}

#progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%;
}

#progressbar  li.active{
    color: black;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #17a2b8;
}

/* Success Payment */
body.successPaymentjsp {
    text-align: center;
    padding: 0;
    background: #EBF0F5;
}

#successH1 {
    color: #17a2b8;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px;
}

#successP {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:15px;
    margin: 0;
}

.successPaymentjsp .checkmark {
    color: #17a2b8;
    font-size: 80px;
    line-height: 200px;
    margin-left:-15px;
}

.successPaymentjsp .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
}